
  <div class='post-container'>
    <% @posts.each do |p|%>
      <div class='big-tile'>
        <div class='tile'>
          <% if user_signed_in? %>
            <strong>@<%= p.user.username %> - </strong>
          <% end %>
          <strong><%= p.title %></strong>
          <p><em><%= p.body %></em></p>
        </div>
        <div class='show'>
            <%= link_to 'View Post', p%>
        </div>
      </div>
    <% end %>
  </div>
