/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

 body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgb(239, 239, 232);
  color: rgb(37, 39, 41);
 }

 body a:link, body a:visited, body a:active  { 
  text-decoration:none !important; 
  color: rgb(37, 39, 41);
}

 .header {
   background-color: rgb(118, 179, 240);
   padding: 20px;
   height: 40px;
   border-radius: 10px;
 }

  body a:hover {
    text-shadow: 0 0 4px #051b6b;
  }

 .header, .header-links {
   display: flex;
   align-items: center;
 }

 .header-links {
   margin-left: auto;
   color: black;
 }

 .control {
  margin-left: 20px;
}

 .notice-div {
   width: 100%;
   background-color: rgb(245, 231, 216);
   height: 1.5rem;
   border-radius: 5px;
   display: flex;
   justify-content: center;
 }

 .alert {
   color: rgb(223, 59, 59);
   margin: 0;
 }

 .notice {
   color: green;
   margin: 0;
 }

.feed-container {
   display: flex;
   flex-direction: column;
   align-items: center;
 }

.post-container {
   display: flex;
   flex-wrap: wrap;
   gap: 40px;
   width: 70%;
 }

 .big-tile {
  width: 300px;
  border-radius: 4px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
 }

 .tile {
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: scroll;
   padding: 5px;
 }

 .show {
   background-color: rgb(181, 185, 193);
   padding: 5px;
 }

 .field {
   margin-bottom: 10px;
 }

 .input {
   border-radius: 5px;
   border-style: none;
   border: solid 1px rgb(130, 124, 124);
   padding: 3px;
 }

 .button {
   width: 75px;
   height: 30px;
   background-color: rgb(67, 109, 217);
   color: white;
   font-weight: bold;
   margin-bottom: 20px;
   border: none;
   border-radius: 8px;
 }

 .button:hover {
   cursor: pointer;
 }

 .form-links {
   align-items: left;
 }

 .link {
    margin: 4px;
 }

 .show-post {
   width: 50%;
   border-radius: 4px;
   box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
   margin-top: 2rem;
 }

 .show-header {
  background-color: rgb(181, 185, 193);
  padding: 15px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
 }

 .show-body {
  padding: 15px;
 }

 .footer {
    position: fixed;
    bottom:0;
    background-color: rgb(118, 179, 240);
    height: 40px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
 }
